<div class="rating">
  <div
    class="star1"
    [style]="{
      color: rating! >= 5 ? 'goldenrod' : null
    }"
  ></div>
  <div
    class="star2"
    [style]="{
      color: rating! >= 10 ? 'goldenrod' : null
    }"
  ></div>
  <div
    class="star3"
    [style]="{
      color: rating! >= 15 ? 'goldenrod' : null
    }"
  ></div>
  <div
    class="star4"
    [style]="{
      color: rating! >= 20 ? 'goldenrod' : null
    }"
  ></div>
  <div
    class="star5"
    [style]="{
      color: rating! >= 25 ? 'goldenrod' : null
    }"
  ></div>
</div>
