<section>
  <div class="centered">
    <div class="book-img">
      <!-- <img src="" alt="" /> -->
    </div>
    <div class="wrapper">
      <h2 class="heading book-heading">"{{ theBook?.title }}Book Title"</h2>
      <div class="book-meta">
        <div class="book-author book-heading-icon">
          <img
            src="/assets/img/poetry.png"
            alt="author icon"
            class="headline-icons"
          />
          <span class="author-name"
            ><a
              href="https://bg.wikipedia.org/w/index.php?fulltext=1&search={{
                searchAuthor(theBook?.author)
              }}"
              class="author-link"
              target="_blank"
              >{{ theBook?.author }}Author Name</a
            ></span
          >
        </div>

        <div class="book-year book-heading-icon">
          <img
            src="/assets/img/calendar.png"
            alt="calendar icon"
            class="headline-icons"
          />
          <span class="author-name">1976</span>
          <!-- <span class="author-name">{{book.year}}</span> -->
        </div>

        <div class="book-lang book-heading-icon">
          <img
            src="/assets/img/language.png"
            alt="language icon"
            class="headline-icons"
          />
          <span class="author-name">Book language</span>
        </div>
      </div>

      <div class="book-details">
        <div class="square">
          <div>
            <img class="img" src="/assets/temp/_-_-_-_-__5_12.jpg" alt="" />
            <!-- <img class="img" src="{{ theBook?.imgUrl }}" alt="" /> -->
          </div>

          <p class="p">
            {{ theBook?.description }}
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At numquam
            consequatur nemo hic! Sed cupiditate numquam porro iusto quia minus
            perferendis perspiciatis, illo sapiente sunt doloribus. Cupiditate
            quisquam dolor unde obcaecati blanditiis recusandae cum neque
            voluptatibus quod dolore, molestias vel est odit dolores quasi ut,
            esse ipsa animi debitis? Illum ipsa, hic recusandae, doloribus
            quidem est aliquam labore, similique commodi quod at modi dicta
            accusamus.
          </p>
          <p class="p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            cupiditate. Vitae quis debitis fugit laboriosam ipsam? Sequi
            distinctio possimus ab cum, earum perferendis aut optio suscipit
            voluptate. Qui, saepe molestiae.
          </p>
          <p class="p">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            cumque. Deleniti pariatur alias voluptas magni quos vel reiciendis
            delectus soluta itaque aut error tenetur ipsum eligendi explicabo,
            commodi deserunt vitae iure porro iste! Deleniti molestias autem,
            molestiae at officia quasi, voluptatibus vel totam consectetur ut
            cum voluptatem itaque dolorum harum blanditiis, magni soluta non quo
            illo eaque necessitatibus! Ipsa explicabo sint iure, praesentium
            quis laudantium ad maiores porro libero nam minima. Dolorem
            officiis, at quo distinctio, ipsum quisquam praesentium placeat
            quidem, tempore consectetur inventore doloremque ullam tenetur alias
            fugiat aliquid iusto laudantium! Laborum deserunt quam a voluptate
            voluptatem modi ab.
          </p>
        </div>
      </div>

      <section>
        <div class="book-actions">
          <div class="book-edit-block">
            <button class="btn edit-btn">EDIT BOOK</button>
          </div>
          <!-- <div class="book-download-block">
            <button class="btn download-btn">DOwnload BOOK</button>
          </div> -->
          <div class="book-edit-block">
            <button class="btn delete-btn">DELETE BOOK</button>
          </div>
        </div>

        <div class="book-meta-footer">
          <table>
            <tr>
              <td>Uploader</td>
              <td class="tdR">Elitsa Alabala</td>
            </tr>
            <tr>
              <td>Data:</td>
              <td class="tdR">15.09.2021</td>
            </tr>
            <tr>
              <td>File type:</td>
              <td class="tdR">EPUB</td>
            </tr>
          </table>
        </div>
      </section>
      <!-- actions -->
    </div>
  </div>
</section>

<app-footer />
