.centered {
  /* background: url("/assets/img/book-background.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; */
}
.gallery-heading {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 20px;
  width: 800px;
}
.heading-line {
  width: 15%;
  border-bottom: 1px solid #333;
}
.book-heading {
  font-size: 48px;
  width: 1000px;
  color: #ededed;
  text-shadow: -2px 3px 5px #000000;
}
.book-meta {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px 0;
  box-shadow: 0px 6px 6px #00000036;
}

.book-heading-icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.author-name {
  margin: 0 0 0 10px;
  font-size: 22px;
  color: rgb(23, 97, 23);
  text-shadow: -2px 2px 1px #00000021;
}
.author-link {
  text-decoration: none;
  cursor: pointer;
  color: #333;
  transition: 0.2s ease;
}

.author-link:hover,
.author-link:visited,
.author-link:active,
.author-link:focus {
  color: #333;
  /* text-decoration: underline; */
  border-bottom: 1px solid rgba(2, 2, 2, 0.488);
  transition-delay: 0.2s;
}

.author-name span {
  font-size: 20px;
  margin-right: 5px;
  color: #333;
  text-shadow: none;
}
.book-details {
  display: block;
  width: 1000px;
  min-height: 485px;
  /* border: 1px solid rgb(116, 116, 116); */
}
.image-stars {
  float: right;
  margin: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  box-shadow: 3px 5px 7px #545454;
}

.headline-icons {
  width: 32px;
}
.p {
  text-indent: 20px;
  text-align: justify;
  font-size: 20px;
  box-shadow: -8px 27px 20px #00000050;
  min-height: 500px;
  padding: 10px 30px 20px;
}

.book-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 20px;
  font-size: 20px;
}

section {
  display: flex;
  justify-content: space-around;
}

.book-actions {
  width: 700px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 42px 0 0;
  padding: 20px;
  box-shadow: -2px 7px 25px #00000073;
}

.book-meta-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a.no-user:hover::before {
  content: "Login before ";
}

table {
  /* margin-top: 30px; */
  background-color: #006b64;
  padding: 20px;
  box-shadow: -8px 27px 20px #0000009a;
  border-radius: 11px;
}
tr {
  font-size: 14px;
  color: #cecece;
}
.tdR {
  text-align: right;
  width: 150px;
  font-size: 18px;
  color: rgb(233, 233, 233);
  text-shadow: 0px 2px 2px #000;
}

/* button */
.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  text-transform: uppercase;
  position: relative;
  transition: 0.4s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: 0.4s ease;
}

.btn:hover {
  color: aliceblue;
  transition-delay: 0.4s;
  border-top: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.btn:hover a {
  color: aliceblue;
  transition-delay: 0.4s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  transition: 0.3s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.3s;
  color: aliceblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.btn:hover::after a {
  color: aliceblue;
}

.delete-btn {
  color: rgb(130, 0, 0);
  border-top: 1px solid rgb(130, 0, 0);
}
.delete-btn::before {
  background-color: rgb(130, 0, 0);
}
.delete-btn::after {
  background-color: rgb(130, 0, 0);
}

.download-btn {
  color: rgb(0, 119, 140);
  border-top: 1px solid rgb(0, 119, 140);
}
.download-btn::before {
  background-color: rgb(0, 119, 140);
}
.download-btn::after {
  background-color: rgb(0, 119, 140);
}

.edit-btn {
  color: rgb(5, 92, 2);
  border-top: 1px solid rgb(5, 92, 2);
}
.edit-btn::before {
  background-color: rgb(5, 92, 2);
}
.edit-btn::after {
  background-color: rgb(5, 92, 2);
}

.like-btn {
  color: #055c02;
  border-top: 1px solid rgb(5, 92, 2);
}
.like-btn::before {
  background-color: rgb(5, 92, 2);
}
.like-btn::after {
  background-color: rgb(5, 92, 2);
}

.download-btn a {
  color: rgb(0, 119, 140);
  text-decoration: none;
}

/* stars */
/* .rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
} */

/* end stars */

.center-img img {
  width: 1000px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0px 2px 5px #000000eb;
  filter: blur(0.6rem);
  opacity: 0.3;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 150px;
}
