<section>
  <div class="centered">
    <div class="wrapper">
      <div *ngIf="isLoading">
        <app-loader />
      </div>
      <div *ngIf="!isLoading">
        <div class="gallery-heading">
          <div class="center-img">
            <img src="{{ book?.imgUrl }}" alt="" />
            <div class="title">
              <!-- <div class="heading-line"></div> -->
              <h2 class="heading book-heading">"{{ book?.title }}"</h2>
              <!-- <div class="heading-line"></div> -->
            </div>
          </div>
        </div>
        <div class="book-meta">
          <div class="book-author book-heading-icon">
            <img
              src="/assets/img/poetry.png"
              alt="author icon"
              class="headline-icons"
            />
            <span class="author-name"
              ><span>author: </span>
              <a
                href="https://bg.wikipedia.org/w/index.php?fulltext=1&search={{
                  searchAuthor(book?.author)
                }}"
                class="author-link"
                target="_blank"
              >
                {{ book?.author }}</a
              ></span
            >
          </div>

          <div class="book-year book-heading-icon">
            <img
              src="/assets/img/calendar.png"
              alt="calendar icon"
              class="headline-icons"
            />
            <span class="author-name">
              <span>year: </span>
              {{ book?.year }}</span
            >
          </div>

          <div class="book-lang book-heading-icon">
            <img
              src="/assets/img/language.png"
              alt="language icon"
              class="headline-icons"
            />
            <span class="author-name">
              <span>language: </span>
              {{ book?.language }}</span
            >
          </div>
        </div>

        <div class="book-details">
          <div class="square">
            <div class="image-stars">
              <img class="img" src="{{ book?.imgUrl }}" alt="Book front page" />
              <!-- stars -->
              <div class="rating">
                <div
                  class="star1"
                  [style]="{
                    color: rating >= 5 ? 'goldenrod' : null
                  }"
                ></div>
                <div
                  class="star2"
                  [style]="{
                    color: rating >= 10 ? 'goldenrod' : null
                  }"
                ></div>
                <div
                  class="star3"
                  [style]="{
                    color: rating >= 15 ? 'goldenrod' : null
                  }"
                ></div>
                <div
                  class="star4"
                  [style]="{
                    color: rating >= 20 ? 'goldenrod' : null
                  }"
                ></div>
                <div
                  class="star5"
                  [style]="{
                    color: rating >= 25 ? 'goldenrod' : null
                  }"
                ></div>
              </div>
            </div>

            <p class="p">
              {{ book?.description }}
            </p>
          </div>
        </div>
        <section *ngIf="hasUser; else noUser">
          <div *ngIf="this.book?.uid != this.user?.uid; else isNotOwner">
            <div class="book-actions">
              <div class="book-download-block">
                <button class="btn download-btn">
                  <a href="{{ book?.url }}" (click)="downloadBook($event)"
                    >DOwnload BOOK</a
                  >
                </button>
              </div>

              <div class="book-edit-block">
                <button
                  class="btn like-btn"
                  (click)="!isLiked ? likeThisBook($event) : null"
                  [disabled]="isLiked"
                  [disabled]="this.user?.uid == this.book?.uid"
                  [style]="{
                    backgroundColor: isLiked ? buttonColor : null,
                    color: isLiked ? 'white' : null
                  }"
                >
                  {{ buttonText }}
                </button>
              </div>
            </div>
          </div>

          <ng-template #isNotOwner>
            <div class="book-actions">
              <div class="book-download-block">
                <button class="btn download-btn">
                  <a href="{{ book?.url }}" (click)="downloadBook($event)"
                    >DOwnload BOOK</a
                  >
                </button>
              </div>
            </div>
          </ng-template>

          <div class="book-meta-footer">
            <table>
              <tr>
                <td>Likes:</td>
                <td class="tdR">{{ book?.likes }}</td>
              </tr>
              <tr>
                <td>Downloads:</td>
                <td class="tdR">{{ book?.downloads }}</td>
              </tr>
              <tr>
                <td>Uploader:</td>
                <td class="tdR">{{ book?.displayName }}</td>
              </tr>
              <tr>
                <td>Created on:</td>
                <td class="tdR">{{ book?.creationDate | date }}</td>
              </tr>
              <tr>
                <td>File type:</td>
                <td class="tdR">{{ book?.fileType | uppercase }}</td>
              </tr>
            </table>
          </div>
        </section>

        <ng-template #noUser>
          <div class="book-actions">
            <div class="book-download-block">
              <button class="btn download-btn">
                <a class="no-user" routerLink="/login">Download BOOK</a>
              </button>
            </div>
          </div>
          <!-- <div class="book-meta-footer">
            <table>
              <tr>
                <td>Likes:</td>
                <td class="tdR">{{ book?.likes }}</td>
              </tr>
              <tr>
                <td>Downloads:</td>
                <td class="tdR">{{ book?.downloads }}</td>
              </tr>
              <tr>
                <td>Uploader:</td>
                <td class="tdR">{{ book?.displayName }}</td>
              </tr>
              <tr>
                <td>Created on:</td>
                <td class="tdR">{{ book?.creationDate | date }}</td>
              </tr>
              <tr>
                <td>File type:</td>
                <td class="tdR">{{ book?.fileType | uppercase }}</td>
              </tr>
            </table>
          </div> -->
        </ng-template>
        <!-- actions -->
      </div>
    </div>
  </div>
</section>

<app-footer />
