<section>
  <div class="centered">
    <div class="book-img">
      <img src="" alt="" />
    </div>
    <div class="wrapper">
      <h2 class="heading book-heading">"За кожата на една врата"</h2>
      <div class="book-meta">
        <div class="book-author">
          <svg width="20" height="20" fill="none" viewBox="0 0 20 20">
            <circle
              cx="12"
              cy="8"
              r="3.25"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
            ></circle>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M6.8475 19.25H17.1525C18.2944 19.25 19.174 18.2681 18.6408 17.2584C17.8563 15.7731 16.068 14 12 14C7.93201 14 6.14367 15.7731 5.35924 17.2584C4.82597 18.2681 5.70558 19.25 6.8475 19.25Z"
            ></path>
          </svg>
          <span class="author-name">Nikolay Hashamov</span>
        </div>
        <div class="book-year">
          <svg width="20" height="20" fill="none" viewBox="0 0 20 20">
            <circle
              cx="12"
              cy="12"
              r="7.25"
              stroke="currentColor"
              stroke-width="1.5"
            ></circle>
            <path
              stroke="currentColor"
              stroke-width="1.5"
              d="M12 8V12L14 14"
            ></path>
          </svg>
          <span class="author-name">2315</span>
        </div>
        <div class="book-genre">
          <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M19.25 17.25V9.75C19.25 8.64543 18.3546 7.75 17.25 7.75H4.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H17.25C18.3546 19.25 19.25 18.3546 19.25 17.25Z"
            ></path>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M13.5 7.5L12.5685 5.7923C12.2181 5.14977 11.5446 4.75 10.8127 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V11"
            ></path>
          </svg>
          <span class="author-name">Comedy</span>
        </div>
      </div>
      <div class="book-details">
        <div class="square">
          <div>
            <img class="img" src="/assets/temp/_-_-_-_-__5_12.jpg" alt="" />
          </div>

          <p class="p">
            "За кожата на една врата" е книга с разкази, човешки, приключенски,
            написани с богат и буден език, пропити с хумор , с енергията на
            младостта и нейните пътувания навътре в себе си, далеч по света и по
            познатите ни улици, с усмивка, с болка, искрени, мъдри и
            изключително приятни за четене.
          </p>
          <p class="p">
            Хъшо отвори една врата и влезе в умовете ни с рязко движение.
            Направо ни се вряза. "За кожата на една врата" е един от любимите ми
            разкази, четени някога в клуба. Ако беше поп песен, щеше да е от
            онези, които те държат буден нощем. Хитът, който всеки композитор
            иска да е написал. Искаш да спреш да си го пееш, но не можеш. Можеш
            да спреш да си го пееш, но май вече не искаш. Рядко има такива
            попадения в писаното слово, които да се връщат непоканени в ума ти.
            Които да разказваш на приятели.
          </p>
        </div>
        <!-- <div class="book-main-img rigth clearfix">
          <img src="/assets/temp/_-_-_-_-__5_12.jpg" alt="" />
        </div> -->
      </div>
      <div class="book-comments">
        <div class="comment">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
          officiis nobis molestias voluptates voluptatum quo quam? Consequatur
          molestias ea ducimus!
        </div>
        <div class="comment">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem
          eveniet modi facere dignissimos! Suscipit laboriosam iste labore
          asperiores, tenetur cum.
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer />
