<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/share-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="center-text">
        <h2 class="heading create-heading">
          Lorem ipsum dolor sit amet consecteturasdfasdfsad.
        </h2>

        <div
          id="drop_zone"
          ondrop="dropHandler(event);"
          ondragover="dragOverHandler(event);"
        >
          <p>Drag one or more files to this <i>drop zone</i>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer />
