<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/library-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <h2 class="heading gallery-heading">
        Lorem ipsum dolor sit amet consectetur.
      </h2>
      <div class="gallery-wrapper">
        <article class="brick">
          <img
            class="book-img"
            src="../../../assets/temp/_-_-_-_-__5_12.jpg"
            alt=""
          />
          <div class="brick-content">
            <p class="book-author">Author: <span>Lorem Ipsum</span></p>
            <div>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Inventore non commodi, nemo ipsum, maiores molestiae beatae
              tempora, accusamus ullam corrupti eligendi. Atque officiis at
              aperiam earum reiciendis sapiente delectus! Pariatur, hic
              consectetur? Nemo placeat voluptate iusto, tenetur quo ad adipisci
              odio nesciunt ipsam laboriosam itaque blanditiis voluptates eius
              aliquam nam.
            </div>
            <p>
              <span class="read-more-btn"
                ><a routerLink="details">read more</a></span
              >
            </p>
          </div>
        </article>
        <article class="brick">
          <img
            class="book-img"
            src="https://images.pexels.com/photos/1111313/pexels-photo-1111313.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
          />
          <div class="brick-content">
            <p>Author: Lorem Ipsum</p>
            <div>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui
              distinctio, facilis quod, maxime sequi et inventore doloremque
              consequatur, saepe quae libero accusantium repudiandae tempore non
              voluptate amet expedita commodi in. Architecto tempore temporibus
              dolore.
            </div>
            <p>
              <span class="read-more-btn"
                ><a href="details.html">read more</a></span
              >
            </p>
          </div>
        </article>
        <article class="brick">
          <img
            class="book-img"
            src="https://images.pexels.com/photos/9969254/pexels-photo-9969254.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
          />
          <div class="brick-content">
            <p>Author: Lorem Ipsum</p>
            <div>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
              quaerat, sed quas ea commodi accusamus id veritatis saepe odit!
              Ut, iure? Animi est facere corporis quod beatae tenetur. Suscipit
              nam magnam eligendi blanditiis accusamus provident sunt doloremque
              qui? Eum placeat ratione delectus sit facilis illo! Quas
              laboriosam perferendis vitae libero modi facilis nihil odit
              aspernatur, ad alias qui officiis esse.
            </div>
            <p>
              <span class="read-more-btn"
                ><a href="details.html">read more</a></span
              >
            </p>
          </div>
        </article>
        <article class="brick">
          <img
            class="book-img"
            src="https://images.pexels.com/photos/17401409/pexels-photo-17401409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
          />
          <div class="brick-content">
            <p>Author: Lorem Ipsum</p>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsam
              dignissimos iusto adipisci ipsum perferendis at doloribus dolores,
              distinctio sapiente atque quo.
            </div>
            <p>
              <span class="read-more-btn"
                ><a href="details.html">read more</a></span
              >
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<app-footer />
