.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 47px;
}
.gallery-heading {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 50px 0;
  font-size: 36px;
}
.heading-line {
  width: 15%;
  border-bottom: 1px solid #333;
}

.brick {
  width: 300px;
  margin: 20px 0;
}
.book-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.h3-title {
  text-align: center;
  box-shadow: 0px 0.5px 0.5px #0000007f;
  padding: 0 0 20px;
}
.book-author {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
}

.book-author span {
  color: #000000;
}
.read-more-btn {
  display: inline-block;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: black;
  border-bottom: 1px solid transparent;
}

.read-more-btn a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.read-more-btn a:hover,
.read-more-btn a:focus,
.read-more-btn a:active {
  border-bottom: 1px solid #0cbb0f;
}
