<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/library-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="gallery-heading">
        <div class="heading-line"></div>

        <h2 class="heading gallery-heading">Greader's Library</h2>
        <div class="heading-line"></div>
      </div>

      <!-- LOADER -->
      <div *ngIf="isLoading">
        <app-loader />
      </div>

      <div class="book-control">
        <div class="sort-panel">
          <select name="select" id="">
            <option value="" selected disabled>Sort by:</option>
            <option value="author">Author name</option>
            <option value="title">Book title</option>
            <option value="">Popularity</option>
          </select>
        </div>
        <div class="search-panel">
          <div class="InputContainer">
            <form #form="ngForm" (ngSubmit)="searchF(form)">
              <input
                type="text"
                name="search"
                placeholder="Search"
                ngModel
                #search="ngModel"
              />

              <button class="micButton">
                <label for="input" class="labelforsearch">
                  <svg viewBox="0 0 512 512" class="searchIcon">
                    <path
                      d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                    ></path>
                  </svg>
                </label>
              </button>
            </form>
            <div class="border"></div>
          </div>
        </div>
      </div>

      <div *ngIf="!isLoading" class="gallery-wrapper">
        <article class="brick" *ngFor="let book of booksArray">
          <img class="book-img" src="{{ book.imgUrl }}" alt="" />
          <div class="brick-content">
            <h3 class="h3-title">"{{ book.title }}"</h3>
            <p class="book-author">
              Author: <span>{{ book.author }}</span>
            </p>
            <div>
              <!-- {{ shortDescription(book) }} -->
              {{ book.description | slice : 100 }}
            </div>
            <p>
              <span class="read-more-btn"
                ><a [routerLink]="book.docId">read more</a></span
              >
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<app-footer />
