.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 47px;
  padding: 10px 30px 20px;

  box-shadow: -8px 27px 20px #00000050;
}
.gallery-heading {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 50px 0;
  font-size: 36px;
}
.heading-line {
  width: 15%;
  border-bottom: 1px solid #333;
}

.book-control {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.brick {
  width: 300px;
  margin: 20px 0;
  border-top: 1px solid #80808059;
  padding: 15px 0;
}
.book-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.h3-title {
  text-align: center;
  box-shadow: 0px 0.5px 0.5px #0000007f;
  padding: 0 0 20px;
}
.book-author {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
}

.book-author span {
  color: #000000;
}
.read-more-btn {
  display: inline-block;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: black;
  border-bottom: 1px solid transparent;
}

.read-more-btn a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.read-more-btn a:hover,
.read-more-btn a:focus,
.read-more-btn a:active {
  border-bottom: 1px solid #0cbb0f;
}

/* search-form */
.search-panel {
  border-radius: 15px;
  box-shadow: -2px 10px 16px #00000030;
}
.search-form {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 15px;
}

.select-input {
  height: 37px;
  width: 120px;
  margin-left: 10px;
  font-size: 16px;
  padding: 5px 10px 5px 5px;
  border: none;
  border-right: 1px solid gray;
}
input.ng-invalid.ng-touched {
  border-left: none;
}

.search-input {
  height: 35px;
  width: 200px;
  margin: 0px 0 0 2px;
  padding-left: 8px;
  font-size: 16px;
  border: none;
}

input:active,
input:focus,
input:hover,
select:active,
select:focus,
select:hover {
  outline: none;
}
.searchButton {
  background: none;
  width: 100px;
  height: 35px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* end-search-form */

.pagination {
  display: flex;
  justify-content: center;
  font-family: system-ui;
}
