<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/library-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="gallery-heading">
        <div class="heading-line"></div>

        <h2 class="heading gallery-heading">Greader's Library</h2>
        <div class="heading-line"></div>
      </div>

      <!-- LOADER -->
      <div *ngIf="isLoading">
        <app-loader />
      </div>

      <div *ngIf="!isLoading" class="gallery-wrapper">
        <article class="brick" *ngFor="let book of booksArray">
          <img class="book-img" src="{{ book.imgUrl }}" alt="" />
          <div class="brick-content">
            <p class="book-author">
              Author: <span>{{ book.author }}</span>
            </p>
            <div>
              <!-- {{ shortDescription(book) }} -->
              {{ book.description | slice : 100 }}
            </div>
            <p>
              <span class="read-more-btn"
                ><a [routerLink]="book.docId">read more</a></span
              >
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<app-footer />
