<footer>
  <div class="footer-top-border"></div>
  <div class="content">
    <div class="footer-block">
      <p class="text-indent">
        This single page application is created and designed as a project after
        Angular course in
        <a href="http://softuni.bg" target="_blank">SoftUni</a>
      </p>
      <p>Nikolay Yuchormanski</p>
      <p>&copy; 2023</p>
    </div>

    <div class="footer-center-block">
      <h3 class="heading footer-heading">Last added books</h3>
      <div class="heading-line"></div>
      <div class="footer-center">
        <div class="book-small" *ngFor="let book of lastThree">
          <a routerLink="{{ book._id }}">
            <img src="{{ book.imgUrl }}" alt="" class="scale-down"
          /></a>
        </div>
      </div>
    </div>

    <div class="footer-block">
      <h3 class="heading footer-heading">Places you can find eBooks</h3>
      <div class="heading-line"></div>
      <ul>
        <li>
          <a
            href="http://chitanka.info"
            alt="EBooks on Bulgarian"
            target="_blank"
            >Chitanka</a
          >
        </li>
        <li>
          <a
            href="http://chitanka.info"
            alt="EBooks on Bulgarian"
            target="_blank"
            >Chitanka</a
          >
        </li>
        <li>
          <a
            href="http://chitanka.info"
            alt="EBooks on Bulgarian"
            target="_blank"
            >Chitanka</a
          >
        </li>
        <li>
          <a
            href="http://chitanka.info"
            alt="EBooks on Bulgarian"
            target="_blank"
            >Chitanka</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
