<footer>
  <div class="footer-top-border"></div>
  <div class="content">
    <div class="footer-block">
      <p class="text-indent">
        This single page application is created and designed as a project at the
        end of Angular course in
        <a href="http://softuni.bg" target="_blank">SoftUni</a>
      </p>
      <p>Nikolay Yuchormanski &copy; 2023</p>
      <p class="socials">
        <a href="https://github.com/yuchormanski/Greader" target="_blank">
          <img
            src="/assets/img/github-mark-white.png"
            alt="Github logo"
            width="20"
        /></a>
        <a
          href="https://www.linkedin.com/in/nikolay-yuchormanski-b34975255"
          target="_blank"
        >
          <img
            src="/assets/img/In-White-128.png"
            alt="LinkedIn logo"
            width="20"
        /></a>
      </p>
    </div>

    <div class="footer-center-block">
      <h3 class="heading footer-heading">Latest added books</h3>
      <div class="heading-line"></div>
      <div class="footer-center">
        <div class="book-small" *ngFor="let book of lastThree">
          <a href="/gallery/{{ book.docId }}">
            <div class="book-title-popup">
              <p>"{{ book.title }}"</p>
            </div>
            <img
              src="{{ book.imgUrl }}"
              alt="{{ book.title }}"
              class="scale-down"
          /></a>
        </div>
      </div>
      <!--  -->
    </div>

    <div class="footer-block">
      <div class="sites-links">
        <h3 class="heading footer-heading">Places you can find eBooks</h3>
        <div class="heading-line"></div>
        <ul>
          <li>
            <a
              href="http://chitanka.info"
              alt="EBooks on Bulgarian"
              target="_blank"
              >Chitanka</a
            >
          </li>
          <li>
            <a href="https://openlibrary.org/" alt="EBooks" target="_blank"
              >Open library</a
            >
          </li>
          <li>
            <a
              href="https://www.bookrix.com/books;lang:bg.html"
              alt="EBooks on Bulgarian"
              target="_blank"
              >BookRix</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
