<footer>
  <div class="footer-top-border"></div>
  <div class="content">
    <div class="footer-block">
      <p class="text-indent">
        This single page application is created and designed as a project after
        Angular course in
        <a href="http://softuni.bg" target="_blank">SoftUni</a>
      </p>
      <p>Nikolay Yuchormanski</p>
      <p>&copy; 2023</p>
    </div>

    <div class="footer-center-block">
      <h3 class="heading footer-heading">Last added books</h3>
      <div class="heading-line"></div>
      <div class="footer-center">
        <div class="book-small">
          <img
            src="https://www.ciela.com/media/catalog/product/cache/9a7ceae8a5abbd0253425b80f9ef99a5/_/-/_-_-_-_-__5_12.jpg"
            alt=""
            class="scale-down"
          />
        </div>
        <div class="book-small">
          <img
            src="https://www.ciela.com/media/catalog/product/cache/9a7ceae8a5abbd0253425b80f9ef99a5/f/i/file_145_2.jpg"
            alt=""
            class="scale-down"
          />
        </div>
        <div class="book-small">
          <img
            src="https://www.ciela.com/media/catalog/product/cache/9a7ceae8a5abbd0253425b80f9ef99a5/z/i/zima-v-raya-ciela-9789542830375-front.jpg"
            alt=""
            class="scale-down"
          />
        </div>
      </div>
    </div>

    <div class="footer-block">
      <h3 class="heading footer-heading">Places you can find eBooks</h3>
      <div class="heading-line"></div>
      <ul>
        <li>
          <a
            href="http://chitanka.info"
            alt="EBooks on Bulgarian"
            target="_blank"
            >Chitanka</a
          >
        </li>
        <li>
          <a
            href="http://chitanka.info"
            alt="EBooks on Bulgarian"
            target="_blank"
            >Chitanka</a
          >
        </li>
        <li>
          <a
            href="http://chitanka.info"
            alt="EBooks on Bulgarian"
            target="_blank"
            >Chitanka</a
          >
        </li>
        <li>
          <a
            href="http://chitanka.info"
            alt="EBooks on Bulgarian"
            target="_blank"
            >Chitanka</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
