<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/share-book.jpg" alt="" />
    </div>
    <div class="upload-wrapper">
      <div class="center-text">
        <div class="upload-heading">
          <div class="heading-line"></div>
          <h2 class="heading create-heading">Upload your favorite book</h2>
          <div class="heading-line"></div>
        </div>

        <!-- book upload -->
        <!-- <ng-container *ngIf="nextStep; else bookInfo"> -->
        <ng-container *ngIf="!nextStep; else bookInfo">
          <div
            app-event-blocker
            (dragend)="isDragover = false"
            (dragover)="isDragover = true"
            (dragenter)="isDragover = true"
            (dragleave)="isDragover = false"
            (mouseleave)="isDragover = false"
            (drop)="storeFile($event)"
            [ngClass]="{ 'drop-zone-hover': isDragover }"
            class="drop-zone"
          >
            <p>Drag a file to this <i>drop zone</i>.</p>
            <p>Next step is to add the book information</p>
            <p>
              Available types - EPUB, PDF, TXT with maximum file size - 5 MB
            </p>
            <p>or select one from folder</p>
            <label class="label">
              <input type="file" required (change)="storeFile($event)" />
              <span>Select a file</span>
            </label>
            <!-- <input
              type="file"
              class="file-input"
              (change)="storeFile($event)"
            /> -->
          </div>
        </ng-container>

        <!-- book-info -->
        <ng-template #bookInfo>
          <!-- alert message -->
          <div *ngIf="showAlert" [ngClass]="alertColor">
            <p>
              {{ alertMsg }}
            </p>
            <p *ngIf="showPercentage">{{ percentage | percent }}</p>
          </div>
          <!-- errors -->
          <div>
            <!-- title errors -->
            <ng-container *ngIf="uploadForm.get('title')?.touched">
              <p
                class="error"
                *ngIf="uploadForm.get('title')?.errors?.['required']"
              >
                Book title is required!
              </p>
              <p
                class="error"
                *ngIf="uploadForm.get('title')?.errors?.['minlength']"
              >
                Book title should be at least {{ minLengthCount }} characters
                long!
              </p>
            </ng-container>
            <!-- author errors -->
            <ng-container *ngIf="uploadForm.get('author')?.touched">
              <p
                class="error"
                *ngIf="uploadForm.get('author')?.errors?.['required']"
              >
                Book author name is required!
              </p>
              <p
                class="error"
                *ngIf="uploadForm.get('author')?.errors?.['minlength']"
              >
                Book title should be at least
                {{ minLengthCount }} characters long!
              </p>
            </ng-container>
            <!-- imgUrl errors -->
            <ng-container *ngIf="uploadForm.get('imgUrl')?.touched">
              <p
                class="error"
                *ngIf="uploadForm.get('imgUrl')?.errors?.['required']"
              >
                Image is required!
              </p>
              <p
                class="error"
                *ngIf="uploadForm.get('imgUrl')?.errors?.['pattern']"
              >
                Invalid image URL! Allowed files extensions are: JPG, JPEG and
                PNG
              </p>
            </ng-container>
            <!-- year errors -->
            <ng-container *ngIf="uploadForm.get('year')?.touched">
              <p
                class="error"
                *ngIf="uploadForm.get('year')?.errors?.['required']"
              >
                Year is required!
              </p>
              <p class="error" *ngIf="uploadForm.get('year')?.errors?.['min']">
                The Year can't be before 1800!
              </p>
              <p class="error" *ngIf="uploadForm.get('year')?.errors?.['max']">
                The Year can't be greater than current year!
              </p>
              <p
                class="error"
                *ngIf="uploadForm.get('year')?.errors?.['pattern']"
              >
                Use only digits and integers!
              </p>
            </ng-container>
            <!-- description errors -->
            <ng-container *ngIf="uploadForm.get('description')?.touched">
              <p
                class="error"
                *ngIf="uploadForm.get('description')?.errors?.['required']"
              >
                Description is required!
              </p>
              <p
                class="error"
                *ngIf="uploadForm.get('description')?.errors?.['minlength']"
              >
                The description should be at least 10 characters long!
              </p>
              <p
                class="error"
                *ngIf="uploadForm.get('description')?.errors?.['maxlength']"
              >
                The description can't be more than 8000 characters long!
              </p>
            </ng-container>
          </div>

          <div>
            <form [formGroup]="uploadForm" (ngSubmit)="uploadBook()">
              <div class="form-row book-title">
                <!-- book-title -->
                <label for="title"></label>
                <input
                  formControlName="title"
                  type="text"
                  id="title"
                  name="title"
                  placeholder="Book title:"
                /><span class="required">&#10039;</span>
              </div>

              <!-- book-author book-image-->
              <div class="form-row additional">
                <label for=""></label>
                <input
                  type="text"
                  placeholder="Author:"
                  formControlName="author"
                /><span class="required">&#10039;</span>
                <label for=""></label>
                <input
                  type="text"
                  formControlName="imgUrl"
                  placeholder="Book image URL:"
                /><span class="required">&#10039;</span>
              </div>

              <!-- book-language book-year-->
              <div class="form-row additional">
                <select value="Language:" formControlName="language">
                  <option value="" disabled selected hidden inactive>
                    Language:
                  </option>
                  <option value="Bulgarian" class="option-value">
                    Bulgarian
                  </option>
                  <option value="English" class="option-value">English</option>
                  <option value="German" class="option-value">
                    German
                  </option></select
                ><span class="required">&#10039;</span>

                <label for=""></label>
                <input
                  type="number"
                  placeholder="Year:"
                  formControlName="year"
                /><span class="required">&#10039;</span>
              </div>

              <!-- book-description-->
              <div class="form-row additional">
                <textarea
                  name=""
                  cols="66"
                  rows="10"
                  placeholder="Description: "
                  formControlName="description"
                ></textarea>
              </div>

              <!-- form submit -->
              <button
                class="upload-book-Btn"
                [disabled]="uploadForm.invalid"
                [disabled]="inSubmission"
                [style]="{
                  backgroundColor: uploadForm.invalid ? null : '#019d01'
                }"
              >
                Upload
              </button>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>

<app-footer />
