.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  margin-top: 20px;
}

.register-heading {
  font-size: 32px;
}

.form-elements {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 10px 0;
}

.center-text {
  background-color: #ffffffaf;
  width: 550px;
  border-radius: 3px;
  padding: 0px 25px 20px;
}
.auth-form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.auth-form input {
  background-color: #f8f8f8;
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}
.auth-form input:focus,
.auth-form input:active,
.auth-form input:hover {
  outline: none;
  border: 1px solid rgb(182, 182, 182);
}

::placeholder {
  color: #333;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #333;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #333;
}

/* input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  color: #f8f8f8;
}
input[type="number"]:active,
input[type="number"]:focus,
input[type="number"]:visited {
  -webkit-appearance: number;
  -moz-appearance: number;
  appearance: number;
  color: #333;
} */

.auth-button {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  color: #3330;
  margin-top: 7px;
  text-shadow: 0px 2px 2px #0000003e;
  box-shadow: 0px 5px 5px #00000050;
  border: none;
  border-radius: 3px;
}

input.ng-valid {
  border-left: 5px solid #42a948;
}
input.ng-invalid.ng-touched {
  border-left: 5px solid red;
}
form.ng-valid button {
  color: rgb(255, 255, 255);
}
form.ng-valid button:hover {
  color: rgba(255, 255, 255, 0.795);
  text-shadow: 0px 2px 2px #000000c9;
  box-shadow: 0px -2px 14px #00000071 inset;
  cursor: pointer;
}

.error {
  text-align: center;
  color: red;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
}
.redirect {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-shadow: 0px 2px 2px #00000040;
  margin-top: 50px;
}
.redirect a {
  color: #019403;
  text-decoration: none;
}

fieldset {
  border: 1px solid rgba(128, 128, 128, 0.559);
  border-radius: 3px;
  padding-top: 10px;
}
