<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/register-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="center-text">
        <h2 class="heading register-heading">Registration form</h2>

        <app-loader *ngIf="isLoading" />

        <app-alert *ngIf="showAlert">
          {{ alertMsg }}
        </app-alert>

        <form class="auth-form" #form="ngForm" (ngSubmit)="register(form)">
          <fieldset>
            <!-- firstName -->
            <div class="form-elements">
              <label for="firstName"></label>
              <input
                type="text"
                name="firstName"
                id="firstName"
                placeholder="First name:"
                #firstName="ngModel"
                required
                [(ngModel)]="credentials.firstName"
                minlength="2"
              />
            </div>
            <ng-container *ngIf="firstName.touched">
              <p class="error" *ngIf="firstName.errors?.['required']">
                Last name is required!
              </p>
              <p class="error" *ngIf="firstName.errors?.['minlength']">
                Last name should be at least 2 characters!
              </p>
            </ng-container>

            <!-- Last name -->
            <div class="form-elements">
              <label for="lastName"></label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                placeholder="Last name:"
                #lastName="ngModel"
                required
                [(ngModel)]="credentials.lastName"
                minlength="2"
              />
            </div>
            <ng-container *ngIf="lastName.touched">
              <p class="error" *ngIf="lastName.errors?.['required']">
                Last name is required!
              </p>
              <p class="error" *ngIf="lastName.errors?.['minlength']">
                Last name should be at least 2 characters!
              </p>
            </ng-container>

            <!-- email -->
            <div class="form-elements">
              <label for="email"></label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email:"
                #email="ngModel"
                required
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [(ngModel)]="credentials.email"
              />
            </div>
            <ng-container *ngIf="email.touched">
              <p class="error" *ngIf="email.errors?.['required']">
                Email is required!
              </p>
              <p class="error" *ngIf="email.errors?.['pattern']">
                Email is not valid!
              </p>
            </ng-container>

            <!-- password -->
            <div class="form-elements">
              <label for="password"></label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password: "
                #inputPassword="ngModel"
                required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
                ngModel
                minlength="8"
              />
            </div>
            <ng-container *ngIf="inputPassword.touched">
              <p class="error" *ngIf="inputPassword.errors?.['required']">
                Password is required!
              </p>
              <p class="error" *ngIf="inputPassword.errors?.['pattern']">
                The password should be a minimum of
                {{inputPassword.errors?.['minlength']['requiredLength']}}
                characters long.<br />
                Should have at least one lower case letter.<br />
                Should have at least one upper case letter.<br />
                It should have at least one number.
              </p>
            </ng-container>

            <!-- repeat password -->
            <div class="form-elements">
              <label for="rePass"></label>
              <input
                type="password"
                name="rePassword"
                id="rePassword"
                placeholder="Repeat Password: "
                #inputRePassword="ngModel"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
                ngModel
                required
                minlength="{{ inputPassword.value?.length }}"
              />
            </div>
            <ng-container *ngIf="inputRePassword.touched">
              <p class="error" *ngIf="inputRePassword.errors?.['required']">
                Repeat your password!
              </p>

              <p
                class="error"
                *ngIf="
                  inputRePassword.value !== '' &&
                  inputPassword.value !== inputRePassword.value
                "
              >
                Passwords didn't match!
              </p>
            </ng-container>

            <!-- button -->
            <div class="form-elements">
              <button
                class="auth-button"
                [disabled]="form.invalid || inSubmission"
                [style]="{
                  backgroundColor: form.invalid ? '#e6e6e6' : '#42a948'
                }"
              >
                Register
              </button>
            </div>

            <p class="text-center redirect">
              Do not have an account? Go to
              <a routerLink="/login" class="">Login</a>
            </p>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer />
