<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/custom-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="center-text">
        <div class="upload-heading">
          <div class="heading-line"></div>
          <h2 class="heading profile-heading">Profile information</h2>
          <div class="heading-line"></div>
        </div>
        <h3><span class="s-i-text">Name: </span>{{ user?.displayName }}</h3>
        <h3><span class="s-i-text">Email: </span>{{ user?.email }}</h3>

        <div class="user-books">
          <a routerLink="/manage">View uploaded books</a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer />
