<!-- <header> -->
<header>
  <div>
    <a routerLink="/">
      <img class="logo" src="{{ siteLogo }}" alt="Site logo" />
    </a>
  </div>

  <nav
    class="navMenu"
    *ngIf="hasUser.isAuthenticated$ | async; else notAuthLinks"
  >
    <li>
      <a
        class="nav-link"
        routerLink="home"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLink="gallery"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        >Library</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLink="upload"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        >Add new</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLink="about"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
    </li>
    <li class="nav-space">&#9776;</li>
    <li>
      <a
        class="nav-link"
        routerLink="profile"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        >Profile</a
      >
    </li>
    <li><a (click)="logout($event)" class="logout-link nav-link">Logout</a></li>
    <div class="dot2"></div>
  </nav>

  <ng-template #notAuthLinks>
    <nav class="navMenu">
      <li>
        <a
          class="nav-link"
          routerLink="home"
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="gallery"
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]="{ exact: true }"
          >Library</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="about"
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>
      <li class="nav-space">&#9776;</li>
      <li>
        <a
          class="nav-link"
          routerLink="login"
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="register"
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]="{ exact: true }"
          >Register</a
        >
      </li>
      <div class="dot"></div>
    </nav>
  </ng-template>
</header>
