<!-- <header> -->
<header>
  <div>
    <img
      class="logo"
      src="/assets/img/Greader-1.png"
      alt="Site logo"
      href="/"
    />
  </div>

  <nav
    class="navMenu"
    *ngIf="hasUser.isAuthenticated$ | async; else notAuthLinks"
  >
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="gallery">Library</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="create">Add new</a></li>
    <li class="nav-space">&#9776;</li>
    <li>
      <!-- <a routerLink="profile">{{ username }}'s' Profile</a> -->
      <a routerLink="profile">Profile</a>
    </li>
    <li><a (click)="logout($event)" class="logout-link">Logout</a></li>
    <div class="dot2"></div>
  </nav>

  <ng-template #notAuthLinks>
    <nav class="navMenu">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="gallery">Library</a></li>
      <li><a routerLink="about">About</a></li>
      <li class="nav-space">&#9776;</li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="register">Register</a></li>
      <div class="dot"></div>
    </nav>
  </ng-template>
</header>
