<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/about-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="center-text">
        <h2 class="heading about-heading">
          What is Greader and what about it.
        </h2>
        <p>
          The main goal of 'Greader' is to provoke interest in reading books by
          providing an opportunity for distribution and personal "offline" use
          of the files with the content of the specific literary work. The
          responsibility for the rights related to the content, in the form of
          text, photos and others, remains the responsibility of the user
          providing the information about the above and the corresponding files
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer />
