.centered {
  min-width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  margin: 50px 0;
}

.center-img img {
  width: 1000px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 2px 5px #000000eb;
}

/* modal */
.center-text {
  background-color: #ffffffaf;
  width: 750px;
  border-radius: 3px;
  padding: 0px 25px 20px;
}

/* about */

.about-heading {
  margin-top: 40px;
  font-size: 36px;
}
