<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/about-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="center-text">
        <h2 class="heading about-heading">
          What is Greader and what about it.
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          laborum nemo assumenda. Quis sit deserunt reprehenderit itaque numquam
          accusamus, molestias vel aperiam laborum repudiandae debitis provident
          quaerat at nemo placeat adipisci aspernatur, totam non dignissimos qui
          inventore? Adipisci molestias facere soluta quis numquam doloremque
          facilis ex magnam! Doloremque, natus iusto?
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis minus
          earum obcaecati id aut ea quibusdam porro eum. Itaque totam,
          repellendus fugit dolor sit voluptatum illo eius minus nobis atque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          cumque ipsam id quidem dicta, beatae accusamus hic eligendi dolores
          placeat, repellat esse obcaecati corporis aliquam praesentium,
          doloremque asperiores officiis voluptatibus. Voluptatibus, ea. Modi,
          magni eum temporibus quae qui dolore esse iure rerum?
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer />
