<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/login-book.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="center-text">
        <h2 class="heading login-heading">Login form</h2>

        <app-loader *ngIf="isLoading" />

        <app-alert *ngIf="showAlert">
          {{ alertMsg }}
        </app-alert>

        <form
          class="auth-form"
          #loginForm="ngForm"
          (ngSubmit)="login(loginForm)"
        >
          <fieldset>
            <!-- email -->
            <div class="form-elements">
              <label for="email"></label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email:"
                #email="ngModel"
                required
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [(ngModel)]="credentials.email"
              />
            </div>
            <ng-container *ngIf="email.touched">
              <p class="error" *ngIf="email.errors?.['required']">
                Email is required!
              </p>
              <p class="error" *ngIf="email.errors?.['pattern']">
                Email is not valid!
              </p>
            </ng-container>

            <!-- password -->
            <div class="form-elements">
              <label for="password"></label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password: "
                #password="ngModel"
                required
                [(ngModel)]="credentials.password"
              />
            </div>
            <!-- minlength="8" -->
            <ng-container *ngIf="password.touched">
              <p class="error" *ngIf="password.errors?.['required']">
                Password is required!
              </p>
              <!-- <p class="error" *ngIf="password.errors?.['minlength']">
                Password must be at least
                {{password.errors?.['minlength']['requiredLength']}}
                characters!
              </p> -->
            </ng-container>

            <div class="forgotten-password">
              <a href="">Forgotten password</a>
            </div>

            <div class="form-elements">
              <button
                class="auth-button"
                [disabled]="loginForm.invalid || inSubmission"
                [style]="{
                  backgroundColor: loginForm.invalid ? '#e6e6e6' : '#42a948'
                }"
              >
                Login
              </button>
            </div>

            <p class="text-center redirect">
              Do not have an account? Go to
              <a routerLink="/register" class="">Register</a>
            </p>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer />
