<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/delete-book.jpg" alt="" />
    </div>
    <div class="upload-wrapper">
      <div class="center-text">
        <div class="upload-heading">
          <div class="heading-line"></div>
          <h2 class="heading delete-heading">
            {{ message }}
          </h2>
          <div class="heading-line"></div>
        </div>
        <!--  -->
        <div id="book">
          <div class="book-info">
            <div class="book-data">
              <h3>{{ book?.title }}</h3>
              <p><span class="placeholder">Author: </span>{{ book?.author }}</p>
              <p>
                <span class="placeholder">Language: </span>{{ book?.language }}
              </p>
              <p><span class="placeholder">Year: </span>{{ book?.year }}</p>
              <p><span class="placeholder">Likes: </span>{{ book?.likes }}</p>
              <p>
                <span class="placeholder">Downloads: </span
                >{{ book?.downloads }}
              </p>
              <p>
                <span class="placeholder">File type: </span>{{ book?.fileType }}
              </p>
              <p>
                <span class="placeholder">Created on: </span
                >{{ book?.creationDate | date }}
              </p>
              <p>
                <span class="placeholder">Description: </span><br />
                {{ book?.description! | slice : 200 }}
                <br />
                <a routerLink="/gallery/{{ bookId }}">READ MORE</a>
              </p>
            </div>
            <div class="book-img">
              <img
                class="img-cover"
                src="{{ book?.imgUrl }} "
                alt="Book Image"
              />
            </div>
          </div>

          <div class="actions" *ngIf="deletePanel">
            <div>
              <button class="reject" (click)="getBack()">
                I don't want to do this!
              </button>
            </div>
            <div>
              <button class="delete" (click)="sorryAboutThat()">
                Yes, I do!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer />
