<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/delete-book.jpg" alt="" />
    </div>
    <div class="upload-wrapper">
      <div class="center-text">
        <div class="upload-heading">
          <div class="heading-line"></div>
          <h2 class="heading delete-heading">
            {{ message }}
          </h2>
          <div class="heading-line"></div>
        </div>
        <!--  -->
        <div id="book">
          <div class="book-info">
            <div class="book-data">
              <h3>{{ book?.title }}</h3>
              <p><span>Creation date: </span>{{ book?.creationDate }}</p>
              <p><span>Likes: </span>{{ book?.likes }}</p>
              <p><span>Downloads: : </span>{{ book?.downloads }}</p>
            </div>
            <div class="book-img">
              <img
                class="img-cover"
                src="{{ book?.imgUrl }} "
                alt="Book Image"
              />
            </div>
          </div>

          <div class="actions" *ngIf="deletePanel">
            <div>
              <button class="reject" (click)="getBack()">
                I don't want to do this!
              </button>
            </div>
            <div>
              <button class="delete" (click)="sorryAboutThat()">
                Yes, I do!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer />
