.delete-heading {
  margin-top: 50px;
  font-size: 36px;
  color: red;
}

#book {
  background-color: #fff;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0px 0 50px;
  box-shadow: -8px 27px 20px #00000050;
}

.upload-heading {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.book-title-heading {
  font-size: 36px;
}
.heading-line {
  width: 15%;
  border-bottom: 1px solid #333;
}

.book-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.book-data {
  width: 700px;
  padding-right: 20px;
  font-size: 20px;
  color: #000000;
}

.placeholder {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #505050;
}

.book-img {
  width: 300px;
  height: 400px;
}

.book-data h3 {
  text-align: center;
}

.img-cover {
  width: 300px;
  height: 400px;
  object-fit: cover;
  box-shadow: 3px 5px 7px #545454;
}

.more-info {
  display: inline-block;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: black;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.more-info:hover,
.more-info:active,
.more-info:focus,
.more-info:visited {
  border-bottom: 1px solid #0cbb0f;
}

.actions {
  width: 86.5%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  font-size: 20px;
}

button.reject,
button.delete {
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: -3px 4px 6px #333;
}

button.reject {
  background-color: #237723cc;
  width: 500px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  color: rgb(241, 241, 241);
}
button.delete {
  background-color: rgb(158, 0, 0);
  color: beige;
  width: 90px;
  height: 30px;
  text-align: center;
  font-size: 15px;
}
