<section id="content" class="s-content">
  <div class="hero">
    <div class="hero__entry-image"></div>

    <div class="home-page-text">
      <div class="entry-text-inner">
        <h1 class="home-heading">Mental Stimulation For Your Brain</h1>
        <div>
          Tell me what you think! Tell me what you think and make me greedy to
          knew the the letter world! Make me starving about reading!
          <p>
            For better mental health, read a book. Studies show a range of
            psychological benefits from book-reading. Reading fiction can
            increase your capacity for empathy, through the process of seeing
            the world through a relatable character. Reading has been found to
            reduce stress as effectively as yoga. It is being prescribed for
            depression – a treatment known as bibliotherapy.
          </p>
        </div>
        <div class="home-read-more">
          <li>Lets talk about books!</li>
        </div>
      </div>
    </div>
  </div>
</section>
