<section id="content" class="s-content">
  <div class="entry">
    <div class="entry-image">
      <img class="logo" src="/assets/img/Greader-1.png" alt="Site logo" />
    </div>

    <div class="home-page-text">
      <div class="home-wrapper">
        <div class="entry-text-inner">
          <h1 class="home-heading">Mental Stimulation For Your Brain</h1>
          <div>
            Tell me what you think! Tell me what you think and make me greedy to
            knew the the letter world! Make me starving about reading!
            <p>
              For better mental health, read a book. Studies show a range of
              psychological benefits from book-reading. Reading fiction can
              increase your capacity for empathy, through the process of seeing
              the world through a relatable character. Reading has been found to
              reduce stress as effectively as yoga. It is being prescribed for
              depression – a treatment known as bibliotherapy.
            </p>
          </div>
          <div class="home-read-more">
            <p>Lets start reading! Pick a books and dive!</p>
          </div>
        </div>
        <div class="home-book-block">
          <h3 class="heading home-book-heading">
            <div class="hr-line"></div>
            Our Suggestions
            <div class="hr-line"></div>
          </h3>
          <div class="heading-line"></div>

          <div *ngIf="isLoading; else theBooks">
            <app-loader />
          </div>

          <ng-template #theBooks>
            <div class="home-center">
              <div class="book-small" *ngFor="let book of limitedBooks">
                <img
                  src="{{ book.imgUrl }}"
                  alt=""
                  class="scale-down"
                  (click)="goTo(book.docId!)"
                />
                <p class="h-book-name">{{ book.title }}</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
