<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/update-book.jpg" alt="" />
    </div>
    <div class="upload-wrapper">
      <div class="center-text">
        <div class="upload-heading">
          <div class="heading-line"></div>
          <h2 class="heading create-heading">Update your book</h2>
          <div class="heading-line"></div>
        </div>

        <div #bookInfo>
          <div *ngIf="showAlert" [ngClass]="alertColor">
            <p>
              {{ alertMsg }}
            </p>
            <p><app-loader /></p>
          </div>

          <div>
            <!-- errors -->
            <div>
              <!-- title errors -->
              <ng-container *ngIf="editForm.get('title')?.touched">
                <p
                  class="error"
                  *ngIf="editForm.get('title')?.errors?.['required']"
                >
                  Book title is required!
                </p>
                <p
                  class="error"
                  *ngIf="editForm.get('title')?.errors?.['minlength']"
                >
                  Book title should be at least {{ minLengthCount }} characters
                  long!
                </p>
              </ng-container>
              <!-- author errors -->
              <ng-container *ngIf="editForm.get('author')?.touched">
                <p
                  class="error"
                  *ngIf="editForm.get('author')?.errors?.['required']"
                >
                  Book author name is required!
                </p>
                <p
                  class="error"
                  *ngIf="editForm.get('author')?.errors?.['minlength']"
                >
                  Book title should be at least
                  {{ minLengthCount }} characters long!
                </p>
              </ng-container>
              <!-- imgUrl errors -->
              <ng-container *ngIf="editForm.get('imgUrl')?.touched">
                <p
                  class="error"
                  *ngIf="editForm.get('imgUrl')?.errors?.['required']"
                >
                  Image is required!
                </p>
                <p
                  class="error"
                  *ngIf="editForm.get('imgUrl')?.errors?.['pattern']"
                >
                  Invalid image URL! Allowed files extensions are: JPG, JPEG and
                  PNG
                </p>
              </ng-container>
              <!-- year errors -->
              <ng-container *ngIf="editForm.get('year')?.touched">
                <p
                  class="error"
                  *ngIf="editForm.get('year')?.errors?.['required']"
                >
                  Year is required!
                </p>
                <p class="error" *ngIf="editForm.get('year')?.errors?.['min']">
                  The Year can't be before 1800!
                </p>
                <p class="error" *ngIf="editForm.get('year')?.errors?.['max']">
                  The Year can't be greater than current year!
                </p>
                <p
                  class="error"
                  *ngIf="editForm.get('year')?.errors?.['pattern']"
                >
                  Use only digits and integers!
                </p>
              </ng-container>
              <!-- description errors -->
              <ng-container *ngIf="editForm.get('description')?.touched">
                <p
                  class="error"
                  *ngIf="editForm.get('description')?.errors?.['required']"
                >
                  Description is required!
                </p>
                <p
                  class="error"
                  *ngIf="editForm.get('description')?.errors?.['minlength']"
                >
                  The description should be at least 10 characters long!
                </p>
                <p
                  class="error"
                  *ngIf="editForm.get('description')?.errors?.['maxlength']"
                >
                  The description can't be more than 8000 characters long!
                </p>
              </ng-container>
            </div>

            <form [formGroup]="editForm" (ngSubmit)="update()">
              <div class="form-row book-title">
                <!-- book-title -->
                <label for="title"></label>
                <input
                  [formControl]="title"
                  formControlName="title"
                  type="text"
                  id="title"
                  name="title"
                  placeholder="Book title:"
                /><span class="required">&#10039;</span>
              </div>

              <!-- book-author book-image-->
              <div class="form-row additional">
                <label for=""></label>
                <input
                  [formControl]="author"
                  formControlName="author"
                  type="text"
                  placeholder="Author:"
                /><span class="required">&#10039;</span>

                <!-- imgUrl -->

                <label for=""></label>
                <input
                  [formControl]="imgUrl"
                  type="text"
                  formControlName="imgUrl"
                  placeholder="Book image URL:"
                /><span class="required">&#10039;</span>
              </div>

              <!-- book-language book-year-->
              <div class="form-row additional">
                <select
                  value="Language:"
                  formControlName="language"
                  [formControl]="language"
                >
                  <option value="" disabled selected hidden inactive>
                    Language:
                  </option>
                  <option value="Bulgarian" class="option-value">
                    Bulgarian
                  </option>
                  <option value="English" class="option-value">English</option>
                  <option value="German" class="option-value">
                    German
                  </option></select
                ><span class="required">&#10039;</span>
                <!-- year -->
                <label for=""></label>
                <input
                  [formControl]="year"
                  type="number"
                  placeholder="Year:"
                  formControlName="year"
                /><span class="required">&#10039;</span>
              </div>

              <!-- book-description-->
              <div class="form-row additional">
                <textarea
                  [formControl]="description"
                  name=""
                  cols="66"
                  rows="10"
                  placeholder="Description: "
                  formControlName="description"
                ></textarea>
              </div>

              <!-- form submit -->
              <button
                class="upload-book-Btn"
                [disabled]="editForm.invalid"
                [disabled]="inSubmission"
                [style]="{
                  backgroundColor: editForm.invalid ? null : '#019d01'
                }"
              >
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ book | json }}

<app-footer />
