<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/1.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="gallery-heading">
        <div class="heading-line"></div>

        <h2 class="heading gallery-heading">
          {{ user?.displayName }}'s private library.
        </h2>
        <div class="heading-line"></div>
      </div>

      <!-- LOADER -->
      <div *ngIf="isLoading">
        <app-loader />
      </div>

      <div class="gallery-wrapper" *ngIf="!isLoading">
        <div *ngIf="books.length > 0; else noBooks">
          <!--  -->
          <div
            class="book-card"
            *ngFor="
              let book of books | paginate : { itemsPerPage: 2, currentPage: p }
            "
          >
            <img class="small-img" src="{{ book.imgUrl }}" alt="" />
            <div class="book-data">
              <h2>{{ book.title }}</h2>
              <div class="book-status">
                <div class="downloads">
                  <span>Downloads: </span>{{ book.downloads }}
                </div>
                <div class="likes"><span>Likes: </span>{{ book.likes }}</div>
              </div>
            </div>
            <div class="buttons">
              <button class="edit-btn" (click)="editBook($event, book)">
                Edit
              </button>
              <button class="delete-btn" routerLink="/delete/{{ book.docId }}">
                Delete
              </button>
            </div>
          </div>
          <!--  -->
        </div>
        <ng-template #noBooks>
          <h2>Currently there is no book in this section</h2>
        </ng-template>
      </div>
      <div class="pagination">
        <div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer />
