<section>
  <div class="centered">
    <div class="center-img">
      <img src="/assets/img/1.jpg" alt="" />
    </div>
    <div class="wrapper">
      <div class="gallery-heading">
        <div class="heading-line"></div>

        <h2 class="heading gallery-heading">
          {{ user?.displayName }}'s private library.
        </h2>
        <div class="heading-line"></div>
      </div>

      <!-- LOADER -->
      <div *ngIf="isLoading">
        <app-loader />
      </div>
      <!-- <select (change)="sort($event)">
        <option value="1" [selected]="bookOrder === '1'">Recent uploads</option>
        <option value="2" [selected]="bookOrder === '2'">Oldest uploads</option>
      </select> -->
      <div class="gallery-wrapper" *ngIf="!isLoading">
        <div *ngIf="books.length > 0; else noBooks">
          <!--  -->
          <div class="book-card" *ngFor="let book of books">
            <img class="small-img" src="{{ book.imgUrl }}" alt="" />
            <div class="book-data">
              <h2>{{ book.title }}</h2>
              <div class="book-status">
                <div class="downloads">
                  <span>Downloads: </span>{{ book.downloads }}
                </div>
                <div class="likes"><span>Likes: </span>{{ book.likes }}</div>
              </div>
            </div>
            <div class="buttons">
              <button class="edit-btn" (click)="editBook($event, book)">
                Edit
              </button>
              <button class="delete-btn" routerLink="/delete/{{ book.docId }}">
                Delete
              </button>
              <!-- <button
                class="delete-btn"
                (click)="goToDeleteBook($event, book.docId!)"
              >
                Delete
              </button> -->
            </div>
          </div>
          <!--  -->
        </div>
        <ng-template #noBooks>
          <h2>Currently there is no book in this section</h2>
        </ng-template>
      </div>
    </div>
  </div>
</section>

<!-- <app-loader /> -->
<app-footer />

<div class="delete-alert" *ngIf="areYouSure">
  <h2>text text text</h2>
  <button (click)="doDelete($event)">DELETE</button>
</div>
